/*css stylesheet*/
/*- - - - DEFAULT ELEMENT RULES - - - -*/

ul {background-color: lightgrey;}
a, li {color: #ffffff; padding: 5px; line-height: 20px;}
/*- - - - - CUSTOM RULES - - - - -*/

/*BODY SECTION*/
.b-section{
  line-height: 20px;
  padding-bottom: 4px;
  font-family: serif;
}

/*HEADER SECTION*/
.header{
	border: 2px solid black;
	padding: 10px;
	background-size: auto;
	text-align: center;
	line-height: 15px;
	background-color: lightgrey; 
	width: 98%;
}

/*MAIN BODY AND SIDE SECTION for RESUME*/
.section-main{
	border: 2px solid black;
	padding: 10px;
	background-size: auto;
	background-color: aliceblue;
	width: 98%;
}

/*DATES AND LOCATION*/
.date-loc{
	letter-spacing: 0.7px;
	line-height: 5px;
	text-transform: capitalize;
}

.imgcaption{
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	padding: 6px;
	border: 2px solid black;
	margin: auto;
}

.left, .main{
	background-color: aliceblue;
	float: left;
	width: 32.985%;
	padding: 20px;
	line-height: 25px;
	border: 2px solid black;
}

.right{
	background-color: lightyellow;
	float: right;
	width: 59.33%;
	padding: 20px;
	line-height: 25px;
	border: 2px solid black;
}

.container{	
	width: 679px;
	height: 345px;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: aliceblue;
}
.container img{	width: 80%;	height: auto; border: 2px solid black;}

.center{
	text-align: center;
}
/*- - - - - MEDIA QUERIES - - - - -*/

/*Non-retinal browser screen*/
@media screen 
	and (min-width: 1160px) 
	and (max-width: 1500px)
	and (-webkit-min-device-pixel-ratio: 1){
	div#p-roche{
		width: 50%;
		height: auto;
	}

}

@media screen 
	and (max-width: 1160px)
	and (-webkit-min-device-pixel-ratio: 1){
	.left, .right{
		/*width: 96.05%;*/
		width: 96.2%;
		float: left;
	}

	div#p-roche{
		width: 80%;
		height: auto;
	}
}

/*For Portrait and Landscape iPhone 6, 6S, 7 and 8+ */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2){
	div#p-roche{
		width: 100%;
		height: auto;
	}
}


