/*default css stylesheet*/
a:hover{
	background-color: green;
}

ul {
	line-height: 30px;
}

/*BODY SECTION*/
.b-color{
  background-color: lightgrey;
  line-height: 40px;
}

/*HEADER SECTION*/
.header{
	text-align: center;
	line-height: 10px;

}
/*MAIN BODY AND SIDE SECTION*/
.section-main{
	background-color: aliceblue;
	/*font-family: cursive;*/
	width: 100%;
	line-height: 25px;
	padding-left: 10px;
	padding-top: 1px;
}

/*DATES AND LOCATION*/
.date-loc{
	letter-spacing: 0.7px;
	text-transform: capitalize;
}