/*css stylesheet*/
/*- - - - DEFAULT ELEMENT RULES - - - -*/

a:hover{
	background-color: green;
}

a{
	color: #890101;
}
ul {
	line-height: 20px;
}

li {
	background-color: #9933cc;
	color: #ffffff;
	padding: 10px;
}

/*- - - - - CUSTOM RULES - - - - -*/

/*BODY SECTION*/
.b-color{
  background-color: lightgrey;
  line-height: 40px;
  padding-bottom: 10px;
}

/*HEADER SECTION*/
.header{
	text-align: center;
	line-height: 8px;

}
/*MAIN BODY AND SIDE SECTION*/
.section-main{
	background-color: aliceblue;
	/*font-family: cursive;*/
	width: 99%;
	line-height: 25px;
	padding-left: 10px;
	padding-top: 1px;

}

/*MAIN SECTION FOR BIO AND INDEX PAGE*/
.spec-main{
	background-color: aliceblue;
	width: 78%;
	line-height: 25px;
	padding-left: 10px;
	padding-top: 1px;
}

/*SIDE SECTION FOR BIO AND INDEX PAGE*/
.spec-side{
	background-color: aliceblue;
	width: 21%;
	line-height: 25px;
	padding-left: 10px;
	padding-top: 1px;
}

/*DATES AND LOCATION*/
.date-loc{
	letter-spacing: 0.7px;
	line-height: 5px;
	text-transform: capitalize;
}

.imgcaption{
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	padding: 6px;
}

.container{
	width: 330px;
	height: 345px;
}
.container img{
	width: 80%;
	height: auto;
}
/*- - - - - MEDIA QUERIES - - - - -*/

/*Non-retinal browser screen*/
@media screen 
	and (min-width: 700px) 
	and (max-width: 1200px)
	and (-webkit-min-device-pixel-ratio: 1){
	.spec-main{
		width: 78%;
		background-color: lightyellow;
	}	

	.spec-side{
		width: 78%;
		background-color: lightgrey;
	}
	div#p-roche{
		width: 80%;
		height: auto;
	}
}

@media screen 
	and (min-width: 300px) 
	and (max-width: 700px)
	and (-webkit-min-device-pixel-ratio: 1){
	.spec-main{
		width: 88%;
		background-color: lightgreen;
	}	

	.spec-side{
		width: 11%;
		background-color: lightgrey;
	}

	div#p-roche{
		width: 50%;
		height: auto;
	}
}

/*For Portrait and Landscape iPhone 6, 6S, 7 and 8 */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2){
	.spec-main{
		width: 50%;
		background-color: lightgreen;
	}

	div#p-roche{
		width: 50%;
		height: auto;
	}
}


